<a href="https://colab.research.google.com/github/fjcorrear/repositorio-prueba-P-N/blob/main/Proyecto_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyecto 1-Ejercicio 1
Programa que gnere las ventas de los ultimos 5 dias, y muestre una serie(DF) con losdatoa de las ventas : numero de unidades y precio unitaorio, indexada porlos dias, antes y despues de aplicarles un descuento del 5%

In [ ]:
 import numpy as np
 import pandas as pd
 np.random.seed(1234567)

In [ ]:
df1=pd.DataFrame(data=np.random.randint(0,11,(20,4)),
 index=pd.date_range("20230101",periods=20),columns=["Ventas","Ventas con descuento del 5%", "Unidades vendidas","Precio Unitario"] )

df1

,Ventas,Ventas con descuento del 5%,Unidades vendidas,Precio Unitario
2023-01-01,3,4,6,5
2023-01-02,2,0,0,10
2023-01-03,3,0,2,5
2023-01-04,3,2,7,4
2023-01-05,7,6,3,1
2023-01-06,0,7,6,4
2023-01-07,10,6,10,0
2023-01-08,8,0,2,9
2023-01-09,2,6,9,5
2023-01-10,8,10,2,7
2023-01-11,4,7,10,10
2023-01-12,10,0,1,7
2023-01-13,5,7,0,8
2023-01-14,5,3,7,5
2023-01-15,3,3,6,3
2023-01-16,8,6,10,10
2023-01-17,7,1,8,3
2023-01-18,3,5,1,9
2023-01-19,2,1,3,0
2023-01-20,7,6,9,10

# New Section

In [ ]:
df1.tail()#ultimos 5 dias de ventas

,Ventas,Ventas con descuento del 5%,Unidades vendidas,Precio Unitario
2023-01-16,8,6,10,10
2023-01-17,7,1,8,3
2023-01-18,3,5,1,9
2023-01-19,2,1,3,0
2023-01-20,7,6,9,10

Proyecto 1-Ejercicio 2
Creación de un programa que reciba un diccionario con los ingresos mensuales de los clientes de una empresa, y devuelva una serie con el ingreso mínimo, máximo y media.

In [ ]:
d1={"ingreso":1800000,"ingreso minimo":700000,"ingreso máximo":2500000, "ingreso medio":1200000} #creación del diccionario
s=pd.Series(d1) # creacion de la series
s

ingreso           1800000
ingreso minimo     700000
ingreso máximo    2500000
ingreso medio     1200000
dtype: int64

Proyecto 1-Ejercicio 3. Escribir un programa que genere y muestre por pantalla un DataFrame con los datos de la siguiente tabla 
Mes     Ventas  Gastos
Enero   30500   22000
Febrero 35600   23450
Marzo   28300   18100 
Abril   33900   35700
Mayo    42500   32450

A continuación, generar nuevas columnas:
1. Columna 1=Gasto/ventas*100
2. Columna2=Si Ventas >=30000, imprimir "Meta Superada"
3. Columna 3=Si Gasto> Ventas, calcular el sobre gasto
4. Obtener el total de laas ventas de  los ultimos 3 meses
5. Obtener el  total de gastos de febrero a abril